body{
	height: 100%;
	width:100%; 
	margin: 0;
}
a{
	text-decoration: none;
 background-color: transparent;
 color: #ededed;
}

#background-image{
	 padding-bottom: 50px;
 margin-bottom: 50px;
 
 color: #f8f8f8;
 background: url(intro-bg_1.jpg) no-repeat center;
 background-size: cover;

}
#content{
	position: relative;
 padding-top: 6%;
 padding-bottom: 6%;

 margin-bottom: 12%;
 background-color: rgba(0, 0, 0, 0.7);
 max-width: 660px;

 box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
 padding: 10px 16px;
 

	}
#left{
	float: left;
	padding: 10px 10px;
	margin-left: 150px;
 	font-weight: bold
}   
#right
{
	float: right;
	margin: 10px;
	margin-right:150px;
}
#items{
	padding-left: 10px;
	margin-left: 200px;
	margin-bottom:5px;
	border: 1px solid silver;
	margin-top:1px;
	padding: 5px;
	float: left;

}
#watch{

	margin-left:30px;
	margin-bottom:5px;
	border: 1px solid silver;
	margin-top:1px;
	padding: 5px;
	float: left;
}
#shirt{

	margin-left:30px;
	margin-bottom:5px;
	border: 1px solid silver;
	margin-top:1px;
	padding: 5px;
	float: left;
}
#footer{
	background-color: #000;
	color:#fff;
 	font-size:8px;
 	float:right;
 	margin-right:100px;
 	max-width:1200px;
 	padding: 5px 5px;
 	padding-top: 1.5%;
 	margin-bottom: 50px;
 	min-width: 1060px;
}